* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }

  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }

  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}

body {
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 100px;
}

.conteudo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caixa-texto {
  width: 600px;
}

.caixa-imagem {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  margin-top: 230px;
}

.menu {
  display: flex;
  justify-content: center;
}

button {
  background-color: #017143;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

h2 {
  font-size: 60px;
  font-weight: 500;
}

span {
  color: #017143;
  font-size: 70px;
  font-weight: 900;
}

p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
}

.logo {
  width: 80px;
}

.starbucks {
  width: 200px;
  z-index: 2;
}

.copo-pequeno {
  width: 80px;
  cursor: pointer;
  transition: 1s;
  padding: 10px;
}

.copo-pequeno:hover {
transform: translateY(-35px);

}

.circulo {
  background: #017143;
  width: 100vw;
  height: 115%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: circle(600px at right 800px);
}
